<!DOCTYPE html>
<html lang="en">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Service-Oriented Supermarket</title>
</head>
<body>
<div class="container">
    <h2>It seems like you've not registered with us (yet), <span th:text="${UserData.name}"></span>. Let's get you registered!</h2>
</div>
<form action="#" th:action="@{/create-user}" th:object="${UserData}" method="post">
    <p>Your unique customer id (Pls don't change): <input type="text" th:field="*{id}" th:value="*{id}" /></p>
    <p>Your email address: <input type="text" th:field="*{email}" th:value="*{email}" /></p>
    <p>Your name: <input type="text" th:field="*{name}" th:value="*{name}" /></p>
    <p>Your username: <input type="text" th:field="*{username}" /></p>
    <p>Your address: <input type="text" th:field="*{address}" /></p>
    <p>Your age: <input type="number" th:field="*{age}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>
